/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  color: #22373e;
  line-height: 1.7em;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/screen.scss */
.sm-controls {
  float: right;
  margin-top: -9px;
  cursor: pointer;
}
/* line 22, ../sass/screen.scss */
.sm-controls a {
  background-color: #6ABD45;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  color: white;
  font-weight: bolder;
  text-align: center;
  line-height: 14px;
  font-size: 11px;
}
/* line 34, ../sass/screen.scss */
.sm-controls a:hover {
  opacity: 0;
}

/* line 39, ../sass/screen.scss */
.sm {
  opacity: 0;
  position: relative;
}
/* line 42, ../sass/screen.scss */
.sm .sm-progress-wrapper {
  border-bottom: 1px solid #6ABD45;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
/* line 47, ../sass/screen.scss */
.sm .sm-progress-wrapper .sm-controls {
  position: absolute;
}
/* line 50, ../sass/screen.scss */
.sm .sm-progress-wrapper a.sm-slider-control {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}
/* line 56, ../sass/screen.scss */
.sm .sm-progress-wrapper .sm-progress {
  height: 5px;
  border: none;
}
/* line 59, ../sass/screen.scss */
.sm .sm-progress-wrapper .sm-progress a {
  position: absolute;
  border: none;
  background: #6ABD45;
  top: -0.1em;
  width: 25%;
  margin-left: 0;
  height: 6px;
  cursor: pointer;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 71, ../sass/screen.scss */
.sm .sm-progress-wrapper .sm-progress a.sm-nodrag {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 74, ../sass/screen.scss */
.sm .sm-progress-wrapper .sm-progress a:active {
  -webkit-transition: all 0;
  -moz-transition: all 0;
  -o-transition: all 0;
  transition: all 0;
}
/* line 77, ../sass/screen.scss */
.sm .sm-progress-wrapper .sm-progress .ui-state-focus {
  outline: none;
}
/* line 82, ../sass/screen.scss */
.sm .sm-options {
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 87, ../sass/screen.scss */
.sm .sm-options ul {
  position: relative;
  width: 99999px;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}
/* line 92, ../sass/screen.scss */
.sm .sm-options ul li {
  padding-top: 35px;
  width: 30%;
  width: 200px;
  float: left;
  margin: 0 16px;
}
/* line 99, ../sass/screen.scss */
.sm .sm-options h4 {
  font-size: 22px;
  color: #162d36;
  font-weight: 200;
  padding-bottom: 22px;
}
/* line 105, ../sass/screen.scss */
.sm .sm-options .sm-nodrag {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
